<footer class="mdl-mini-footer mdl-typography--text-center">
  <div class="mdl-logo"></div>
  <ul class="mdl-mini-footer__link-list">
     <li>
        <a href="https://www.instagram.com/goldenretrieverrn" target="_blank"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
     </li>
      <li>
        <a href="https://www.facebook.com/groups/goldensnatalrn/" target="_blank"><i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="contato.html"><i class="fa fa-2x fa-envelope" aria-hidden="true"></i></a>
      </li>
  </ul>
</footer>