<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
  <div class="mdl-layout__header-row portfolio-logo-row">
    <span class="mdl-layout__title">
      <div class="portfolio-logo"></div>
    </span>
  </div>
  <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link" href="index.html">Home</a>
      <a class="mdl-navigation__link" href="noticias.html">Notícias</a>
      <a class="mdl-navigation__link" href="about.html">Sobre a Raça</a>
      <a class="mdl-navigation__link" href="contato.html">Contato</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
    <a class="mdl-navigation__link" href="index.html">Home</a>
    <a class="mdl-navigation__link" href="noticias.html">Notícias</a>
    <a class="mdl-navigation__link" href="about.html">Sobre a Raça</a>
    <a class="mdl-navigation__link" href="contato.html">Contato</a>
  </nav>
</div>